body{
     font-family: 'Bitter', serif;
}
h1{
     font-size:40px;
}
.sagor{
     color:orangered;
}
section{
     display:flex;
     margin-bottom: 0px;
}
.half-width{
     width:50%;
     padding-left:5%;
}
.half-width img{
width:80%;
}
.link-button{
text-decoration: none;
background-image: linear-gradient(orange,tomato);
padding: 7px 20px;
border-radius: 22px;
}
.top-banner{
     background-color: rgba(143, 27, 65, 0.719);
}
.work-hard{
     width:50%;
     padding-left:5%;
}
.work-hard img{
          width:80%;
}
.banner{
     background-color:antiquewhite;
}