body{
     font-family: 'Bitter', serif;
}
h1{
     font-size:40px;
}
.sagor{
     color:rgba(252, 168, 13, 0.932);
}
.flexible-container{
     display:flex;
}
.half-width{
     width:50%;
     padding-left:5%;
}
.half-width img{
width:80%;
}
.link-button{
text-decoration: none;
background-image: linear-gradient(orange,tomato);
padding: 7px 20px;
border-radius: 22px;
}
.top-banner{
     background-color: rgba(143, 27, 65, 0.719);
}
.work-hard{
     width:50%;
     padding-left:5%;
}
.work-hard img{
          width:80%;
}
.banner{
     background-color:antiquewhite;
}
.second-color{
     color:rgba(102, 15, 63, 0.795)
}
.shadow{
     width:50%;
     padding-left:5%;
     box-shadow:10px 10px 35px rgb(153, 158, 151);
     width:40%;
     margin-left: 5%;
     margin-right: 5%;
     padding-left: 20px;
     border-left :7px solid chartreuse;
     }
     h2{
font-size: 32px;
     }
#border{
     border-left: 7px solid rgb(146, 216, 42);
}
#borde{
     border-left: 7px solid rgb(87, 87, 255);
}
.ss{
     text-align: center;
}